@import "syntax-variables";

atom-text-editor {
  background-color: @syntax-background-color;
  color: @syntax-text-color;
  -webkit-filter: contrast(@contrast);
  -webkit-filter: saturate(@saturation);
  .wrap-guide {
    background-color: @syntax-wrap-guide-color;
  }

  .indent-guide {
    color: @syntax-indent-guide-color;
  }

  .invisible-character {
    color: @syntax-invisible-character-color;
  }

  .gutter {
    background-color: @syntax-gutter-background-color;
    color: @syntax-gutter-text-color;

    .line-number {
      &.cursor-line {
        background-color: @syntax-gutter-background-color-selected;
        color: @syntax-gutter-text-color-selected;
      }

      &.cursor-line-no-selection {
        color: @syntax-gutter-text-color-selected;
      }
    }
  }

  .gutter .line-number.folded,
  .gutter .line-number:after,
  .fold-marker:after {
    color: @pink;
  }

  .invisible {
    color: @syntax-text-color;
  }

  .cursor {
    color: @syntax-cursor-color;
  }

  .selection .region {
    background-color: @syntax-selection-color;
  }
}


// Syntax styles

.syntax--comment {
  color: lighten(@fruity-pink, 10%);
  font-weight: bold;
  font-style: italic;
  text-shadow: 0px 0px @blur rgba(215, 40, 105, @opacity);
}

.syntax--keyword {
  color: @neon-cyan;

  &.syntax--control {
    color: darken(@neon-cyan, 15%);
    text-shadow: 0px 0px @blur rgba(1, 125, 255, @opacity);
  }

  &.syntax--operator {
    color: @neon-cyan;
  }

  &.syntax--other.syntax--special-method {
    color: @light-blue;
  }

  &.syntax--other.syntax--unit {
    color: @neon-yellow;
  }
}

.syntax--storage {
  color: lighten(@dark-blue, 40%);
}

.syntax--constant {
  color: lighten(@light-blue,10%);
  font-weight: bold;
  text-shadow: 0px 0px @blur rgba(2, 6, 97, @opacity);

  &.syntax--character.syntax--escape {
    color: @neon-light-orange;
  }

  &.syntax--numeric {
    color: @orange;
  }

  &.syntax--other.syntax--color {
    color: @cyan;
  }

  &.syntax--other.syntax--symbol {
    color: @green;
  }
}

.syntax--variable {
  color: lighten(@darker-blue, 10%);
  font-style: italic;

  &.syntax--interpolation {
    color: darken(@neon-red, 10%);
  }

  &.syntax--parameter.syntax--function {
    color: darken(@neon-orange, 15%);
    font-weight: bold;
    text-shadow: 0px 0px @blur rgba(10, 10, 48, @opacity);
  }
}

.syntax--invalid.syntax--illegal {
  background-color: @neon-red;
  color: @syntax-background-color;
}

.syntax--string {
  color: rgba(170, 175, 235, 0.93);
  text-shadow: 0px 0px @blur rgba(170, 175, 219, @opacity);

  &.syntax--regexp {
    color: @cyan;

    .syntax--source.syntax--ruby.syntax--embedded {
      color: @orange;
    }
  }

  &.syntax--other.syntax--link {
    color: @red;
  }
}

.syntax--punctuation {
  &.syntax--definition {
    &.syntax--comment {
      color: @light-gray;
    }

    &.syntax--string,
    &.syntax--variable,
    &.syntax--parameters,
    &.syntax--array {
      color: @dark-purple;
    }

    &.syntax--heading,
    &.syntax--identity {
      color: @blue;
    }

    &.syntax--bold {
      color: @light-orange;
      font-weight: bold;
    }

    &.syntax--italic {
      color: @purple;
      font-style: italic;
    }
  }

  &.syntax--section.syntax--embedded {
    color: darken(@red, 10%);
  }

}

.syntax--support {
  &.syntax--class {
    color: @light-orange;
  }

  &.syntax--function  {
    color: @neon-cyan;

    &.syntax--any-method {
      color: @blue;
    }
  }
}

.syntax--entity {
  &.syntax--name.syntax--function {
    color: darken(@neon-yellow, 15%);
    // text-shadow: 0px 0px @blur rgba(169, 35, 120, @opacity);
  }
  &.syntax--name.syntax--type {
    color: @dark-blue;
    text-decoration: underline;
  }

  &.syntax--other.syntax--inherited-class {
    color: @green;
  }
  &.syntax--name.syntax--class, &.syntax--name.syntax--type.syntax--class {
    color: @light-orange;
  }

  &.syntax--name.syntax--section {
    color: @blue;
  }

  &.syntax--name.syntax--tag {
    color: lighten(@dark-blue, 18%);
    font-weight: bold;
  }

  &.syntax--other.syntax--attribute-name {
    color: darken(@fruity-pink, 15%);
    font-weight: 100;

    &.syntax--id {
      color: @blue;
    }
  }
}

.syntax--meta {
  &.syntax--class {
    color: @light-orange;
  }

  &.syntax--link {
    color: @orange;
  }

  &.syntax--require {
    color: @blue;
  }

  &.syntax--selector {
    color: @purple;
  }

  &.syntax--separator {
    background-color: @gray;
    color: @neon-yellow;
  }
}

.syntax--none {
  color: @syntax-text-color;
}

.syntax--markup {
  &.syntax--bold {
    color: @orange;
    font-weight: bold;
  }

  &.syntax--changed {
    color: @purple;
  }

  &.syntax--deleted {
    color: @red;
  }

  &.syntax--italic {
    color: @purple;
    font-style: italic;
  }

  &.syntax--heading .syntax--punctuation.syntax--definition.syntax--heading {
    color: @blue;
  }

  &.syntax--inserted {
    color: @green;
  }

  &.syntax--list {
    color: @red;
  }

  &.syntax--quote {
    color: @orange;
  }

  &.syntax--raw.syntax--inline {
    color: @green;
  }
}

.syntax--source.syntax--gfm .syntax--markup {
  -webkit-font-smoothing: auto;
  &.syntax--heading {
    color: @green;
  }
}


// Mini editor

atom-text-editor[mini] .scroll-view {
  padding-left: 1px;
}
