// These colors are specific to the theme. Do not use in a package!

@very-light-gray: #c5c8c6;
@light-gray: #969896;
@gray: #373b41;
@dark-gray: #282a2e;
@very-dark-gray: #1d1f21;

@cyan: #8abeb7;
@blue: #81a2be;
@purple: #b294bb;
@green: #b5bd68;
@red: #ff2941;
@orange: #eb9a24;
@light-orange: #ddd00f;


// Custom colors

// Mask colors
@neon-yellow: #cbf900;
@neon-light-orange: #ddd00f;
@neon-orange: #eb9a24;
@neon-red: #ff2941;
@pink: #d72869;
@fruity-pink: #a92478;
@dark-purple: #42217c;

// Dragon colors
@darker-purple: #020661;
@darker-blue: #0a0a30;
@dark-blue: #080b2c;
@light-blue: #070e42;
@dark-cyan: #017079;
@light-cyan: #01b6c9;
@neon-cyan: #01ffff;
