@import "colors";

// This defines all syntax variables that syntax themes must implement when they
// include a syntax-variables.less file.

// Theme specific vars
@opacity: 0.8;
@blur: 15px;
@contrast: 200%;
@saturation: 200%;


// General colors
@syntax-text-color: #fff;
@syntax-cursor-color: @neon-yellow;
@syntax-selection-color: lighten(@dark-gray, 10%);
@syntax-background-color: darken(@dark-blue, 8%);

// Guide colors
@syntax-wrap-guide-color: @dark-gray;
@syntax-indent-guide-color: @gray;
@syntax-invisible-character-color: @gray;

// For find and replace markers
@syntax-result-marker-color: @light-gray;
@syntax-result-marker-color-selected: white;

// Gutter colors
@syntax-gutter-text-color: @neon-yellow;
@syntax-gutter-text-color-selected: @syntax-gutter-text-color;
@syntax-gutter-background-color: darken(@dark-blue, 5%);
@syntax-gutter-background-color-selected: darken(@dark-cyan, 8%);

// For git diff info. i.e. in the gutter
@syntax-color-renamed: @blue;
@syntax-color-added: @green;
@syntax-color-modified: @orange;
@syntax-color-removed: @red;
